/* PERFEITA */

:root{
    --hoverTextColor: #f5a576;
    --borderHoverColor:#916153;
    --FCColor:#333A47;
    --FCSilver:#C0C0C0;
    --MaxMenuSize: 59px;
    --MinMenuSize: 40px;
    --MaxLogoSize: 118px;
    --MinLogoSize: 80px;
    --LogoSize: 25vw;
    --MenuSize: 12.5vw;

    --Header_MinHeight: 50px;
    --Header_MaxHeight: 118px;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

header{
    min-width: 320px;
    min-height: var(--Header_MinHeight);
    max-height: var(--Header_MaxHeight);
    width: 100%;
    height: var(--Header_MaxHeight);
    background-color: rgb(255, 255, 255, 0);
    display: block;
    z-index: 3;
    position: absolute;
}

.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: rgba(121, 35, 35, 0);
}

.icon_container{
    height: 100%;
    display: flex;
    float: right;
    align-items: center;
}

.icon_container img{
    color:white;
    display: table-cell;
    vertical-align: middle;
    height: auto;
}

#logo{
    padding-inline: 50px;
    float: left;
}

#logo img{
    height: 100%;
}

#menu{
    display: none;
    float: right;
}

#menu img{
    height: 70%;
}

.navigation{
    float:right;
    height: 100%;
    display: flex;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a li{
    display: table-cell;
    vertical-align: bottom;
    height: 100%;
    color: var(--FCSilver);
    text-decoration: none;
    font-size: clamp(12px, 3.2vw, 20px);
    text-transform: uppercase;
    pointer-events:auto;
    text-align: center;
    font-weight: 500;
}

.navigation a li:after { 
    display:block;
    content: '';
    height: 35%;
    border-bottom: 2px solid var(--FCSilver);
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.navigation a li:hover:after{
    transform: scaleX(1);  
  }
  
  .navigation a li:hover{
      color: white;
  }

  @media screen and (max-width: 850px) {

    header{
        height: 13vw;
    }

    .navigation {
      display: none;
      background-color: var(--bgcolor);
      text-align: center;   
      width: 100%; 
      height: 75%;
      padding-top: 3vw;
      overflow: auto;
      white-space: nowrap;
      justify-content: space-between;
      animation: fadeIn .75s ease-out;
    }

    .navigation.responsive {
      display: flex;
    }
  
    .navigation a {
      text-align: end;
      padding: 0;
    }
  
    #menu {
      display: flex;
    }

    #menu:hover {
       cursor: pointer;
      }
  
  }

  @keyframes fadeIn {  
    from {  
        opacity:0; 
        padding-top: 0vw; 
    }  
 
    to {  
        opacity:1;  
        padding-top: 3vw;
    }  
 }