:root{
  --titleFontSize: 50px;
  --descriptionFontSize: 28px;
}

.conteiner-side{
    width: 40%;
    height: 100%;
    float: left;
  }

  /* NEW */
  .conteiner-right{
    width: 57%;
    height: 100%;
    float: right;
    /* background-color: brown; */
  }

  .conteiner-left{
    width: 43%;
    height: 100%;
    float: left;
    /* background-image: url("../img/Custom/Transparent_Background.png"); */
    /* backdrop-filter: blur(6px); */
    display: flex;
    flex-direction: column;
    color: #ffffff;
  }
  
  .conteiner-left a{
    font-size: var(--titleFontSize);
    align-self: center;
    margin-top: 230px;
    text-align: center;
  }

  .conteiner-left img{
    margin-top: 40px;
    margin-bottom: 45px;
    width: 80%;
    align-self: center;
  }

  .conteiner-left p{
    font-size: var(--descriptionFontSize);
    width: 80%;
    align-self: center;
    text-align: justify;
    margin: 0 !important; 
    height: 50%;
  }

   /* END */

  .container-block-side {
    display: grid;
    width: 830px;
    height: 1080px;
    backdrop-filter: blur(6px);
  }
  
  .content-block-side{
    width: 100%;
    height: 100%;
    background-image: url("../img/Transparent_Background.png");
  }
  
  .content-block-side, .overlay-side {
    grid-area: 1 / 1;
  }
  
  .overlay-side{
    z-index: 5;
  }