:root{
    --List_MinWidth: 320px;
  }

.question_container{
    margin: 0 auto;
    margin-block: 120px;
    width: 90%;
    max-width: 1000px;
    min-width: var(--List_MinWidth);
}

.question_container li{
    background-color: #E6E6E6;
    margin-block: 10px;
}

.question_top {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
    border-left: 20px solid ;
    border-image: linear-gradient(180deg, #333a47 0%, #101827 100%) 1;
    transition: .5s linear;
}

.question_top h1{
    margin-left: 50px;
    font-size: clamp(14px, 3.3vw, 28px);
    font-weight: 300;
    transition: color 1s;
    padding-block: 25px;
}

.question_top img{
    max-width: 20px;
    min-width: 10px;
    width: 100%;
    height: auto;
    margin-inline: 50px;
    filter: invert();
    transition: filter .5s;
}

.question_bottom{
    width: 100%;
    display: none;
    gap: 10px;
    flex-direction: column;
    padding-block: 30px;
}

.question_bottom p{
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(10px, 2.3vw, 20px);
    padding-inline: 30px;
}

.question_top:hover{
    cursor: pointer;
    border-left: 0px solid;
    background-color: #333a47;
}

.question_top:hover > h1{
    color:#ffffff;
}

.question_top:hover > img{
    filter: none;
}

@media screen and (max-width: 850px) {
    .question_container{
        width: 90%;
    }

    .question_top h1{
        margin-left: 25px;
        padding-block: 3vw;
    }

    .question_top img{
        margin-inline: 25px;
        width: 10px;
    }

    .question_bottom{
        padding-block: 10px;
    }

    .question_bottom p{
        padding-inline: 20px;
    }
}