/* PERFEITA */

:root{
    --WidgetList_Height: 750px;
    --WidgetList_ResponsiveHeight: 620px;
    --WidgetList_MinWidth: 320px;
    --Widget_Round: 300px;
  }

.widget_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: var(--WidgetList_MinWidth);
    /* height: var(--WidgetList_Height); */
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-block: 120px;
    gap: 2vw;
}

.widget{
    height: 500px;
    width: 265px;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.widget_image{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    filter: brightness(75%);
    transition: 1s;
  }

.widget:hover{
    cursor: pointer;
}

.widget:hover > .widget_image{
    filter: brightness(50%);
    transform: scale(1.2);
}

.widget_title{
    font-size: clamp(14px, 4.2vw, 28px);
    align-self: center;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    width: 80%;
    margin: auto;
    backdrop-filter: none;
    position: relative;
}

#round{
    width: 265px;
    height: 265px;
    border-radius: 150px;
    background: linear-gradient(180deg, #333a47 0%, #101827 100%);
}

@media screen and (max-width: 850px) {
    .widget_list{
        flex-direction: column;
        /* height: var(--WidgetList_ResponsiveHeight); */
        margin-block: 65px;
    }

    .widget{
        max-width: 500px;
        min-width: 250px;
        width: 70%;
        height: 150px;
    }

    #round{
        max-width: 300px;
        min-width: 200px;
        min-height: 200px;
        max-height: 300px;
        width: 30vw;
        height: 30vw;
        /* width: 250px;
        height: 250px; 
        ISSO PODE FICAR ESTRANHO DEVIDO A ESCALABILIDADE
        */
    }

    #round_list{
        flex-direction: row;
    }
}