/* PERFEITA */

:root{
    --WidgetList_Height: 750px;
    --WidgetList_ResponsiveHeight: 620px;
    --WidgetList_MinWidth: 320px;
  }

.widget_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: var(--WidgetList_MinWidth);
    height: var(--WidgetList_Height);
    width: 100%;
}

.widget{
    margin: 2vw; 
    height: 500px;
    width: 265px;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.widget_image{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    filter: brightness(75%);
    transition: 1s;
  }

.widget:hover{
    cursor: pointer;
}

.widget:hover > .widget_image{
    filter: brightness(50%);
    transform: scale(1.2);
}

.widget_title{
    font-size: clamp(14px, 4.2vw, 28px);
    align-self: center;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    width: 80%;
    margin: auto;
    backdrop-filter: none;
    position: relative;
}

@media screen and (max-width: 850px) {
    .widget_list{
        flex-direction: column;
        height: var(--WidgetList_ResponsiveHeight);
    }

    .widget{
        max-width: 500px;
        min-width: 250px;
        width: 70%;
        height: 150px;
    }
}